<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <title>Brook</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-96ENZWNBX1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-96ENZWNBX1");
        </script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="pico.min.css">
        <script src="vue.global.prod.js"></script>
        <style>
            :root {
                --primary: #000000;
            }
        </style>
        <script>
            window.addEventListener("DOMContentLoaded", async (e) => {
                var app = {
                    data() {
                        return {
                            link: localStorage.getItem("link") ?? "",
                            listen: localStorage.getItem("listen") ?? ":8888",
                            dnsListen: localStorage.getItem("dnsListen") ?? ":5353",
                            dnsForDefault: localStorage.getItem("dnsForDefault") ?? "8.8.8.8:53",
                            dnsForBypass: localStorage.getItem("dnsForBypass") ?? "223.5.5.5:53",
                            bypassDomainList: localStorage.getItem("bypassDomainList") ?? "",
                            bypassCIDR4List: localStorage.getItem("bypassCIDR4List") ?? "",
                            bypassCIDR6List: localStorage.getItem("bypassCIDR6List") ?? "",
                            bypassGeoIP: localStorage.getItem("bypassGeoIP") ?? "ZZ,CN",
                            blockDomainList: localStorage.getItem("blockDomainList") ?? "",
                            disableA: localStorage.getItem("disableA") ? true : false,
                            disableAAAA: localStorage.getItem("disableAAAA") ? true : false,
                            log: localStorage.getItem("log") ? true : false,

                            hasp: false,
                            localhasp: false,
                            p: "",

                            status: "disconnected",
                            ing: false,
                            zh: !navigator.language.toLowerCase().startsWith("zh-"),

                            page: 'home',
                            links: localStorage.getItem("links") ? JSON.parse(localStorage.getItem("links")) : [],
                            addlink: '',
                            importurl: localStorage.getItem("importurl") ?? "",
                            logview: "",
                        };
                    },
                    async created() {
                        try {
                            var r = await fetch("/hasp");
                            if (r.status != 200) {
                                throw await r.text();
                            }
                            if((await r.text()) == "yes"){
                                this.hasp = true;
                            }
                            if(!this.hasp){
                                return;
                            }
                            if(localStorage.getItem("p")){
                                this.localhasp = true;
                            }
                            if(!this.localhasp){
                                return;
                            }
                            var r = await fetch(`/status?p=${encodeURIComponent(localStorage.getItem('p'))}`);
                            if (r.status != 200) {
                                var s = await r.text();
                                if(s.indexOf('password wrong') == -1){
                                    throw s;
                                    return;
                                }
                                localStorage.setItem("p", "");
                                this.localhasp = false;
                                return;
                            }
                            this.status = await r.text();
                        } catch (e) {
                            alert(`${e}`);
                        }
                    },
                    methods: {
                        async setp() {
                            try {
                                if (!this.p.trim()) {
                                    return;
                                }
                                this.ing = true;
                                var r = await fetch(`/setp?p=${encodeURIComponent(this.p.trim())}`);
                                if (r.status != 200) {
                                    throw await r.text();
                                }
                                location.reload();
                                this.ing = false;
                            } catch (e) {
                                alert(`${e}`);
                                this.ing = false;
                            }
                        },
                        async authp() {
                            try {
                                if (!this.p.trim()) {
                                    return;
                                }
                                this.ing = true;
                                var r = await fetch(`/authp?p=${encodeURIComponent(this.p.trim())}`);
                                if (r.status != 200) {
                                    throw await r.text();
                                }
                                localStorage.setItem("p", this.p.trim());
                                location.reload();
                                this.ing = false;
                            } catch (e) {
                                alert(`${e}`);
                                this.ing = false;
                            }
                        },
                        async start() {
                            try {
                                this.ing = true;
                                var s = "";
                                if (this.log) {
                                    s += ` --log /root/.brook.log`;
                                    localStorage.setItem("log", "true");
                                }else{
                                    localStorage.setItem("log", "");
                                }
                                s += ` tproxy`;
                                if (this.link) {
                                    s += ` --link '${this.link}'`;
                                    localStorage.setItem("link", this.link);
                                } else {
                                    localStorage.setItem("link", "");
                                }
                                if (this.listen) {
                                    s += ` --listen '${this.listen}'`;
                                    localStorage.setItem("listen", this.listen);
                                } else {
                                    localStorage.setItem("listen", "");
                                }
                                if (this.dnsListen) {
                                    s += ` --dnsListen '${this.dnsListen}'`;
                                    localStorage.setItem("dnsListen", this.dnsListen);
                                } else {
                                    localStorage.setItem("dnsListen", "");
                                }
                                if (this.dnsForDefault) {
                                    s += ` --dnsForDefault '${this.dnsForDefault}'`;
                                    localStorage.setItem("dnsForDefault", this.dnsForDefault);
                                } else {
                                    localStorage.setItem("dnsForDefault", "");
                                }
                                if (this.dnsForBypass) {
                                    s += ` --dnsForBypass '${this.dnsForBypass}'`;
                                    localStorage.setItem("dnsForBypass", this.dnsForBypass);
                                } else {
                                    localStorage.setItem("dnsForBypass", "");
                                }
                                if (this.bypassDomainList) {
                                    s += ` --bypassDomainList '${this.bypassDomainList}'`;
                                    localStorage.setItem("bypassDomainList", this.bypassDomainList);
                                } else {
                                    localStorage.setItem("bypassDomainList", "");
                                }
                                if (this.bypassCIDR4List) {
                                    s += ` --bypassCIDR4List '${this.bypassCIDR4List}'`;
                                    localStorage.setItem("bypassCIDR4List", this.bypassCIDR4List);
                                } else {
                                    localStorage.setItem("bypassCIDR4List", "");
                                }
                                if (this.bypassCIDR6List) {
                                    s += ` --bypassCIDR6List '${this.bypassCIDR6List}'`;
                                    localStorage.setItem("bypassCIDR6List", this.bypassCIDR6List);
                                } else {
                                    localStorage.setItem("bypassCIDR6List", "");
                                }
                                if (
                                    this.bypassGeoIP &&
                                    this.bypassGeoIP
                                        .split(",")
                                        .map((v) => v.trim())
                                        .filter((v) => v).length
                                ) {
                                    this.bypassGeoIP
                                        .split(",")
                                        .map((v) => v.trim())
                                        .filter((v) => v)
                                        .forEach((v) => {
                                            s += ` --bypassGeoIP '${v}'`;
                                        });
                                    localStorage.setItem("bypassGeoIP", this.bypassGeoIP);
                                } else {
                                    localStorage.setItem("bypassGeoIP", "");
                                }
                                if (this.blockDomainList) {
                                    s += ` --blockDomainList '${this.blockDomainList}'`;
                                    localStorage.setItem("blockDomainList", this.blockDomainList);
                                } else {
                                    localStorage.setItem("blockDomainList", "");
                                }
                                if (this.disableA) {
                                    s += ` --disableA`;
                                    localStorage.setItem("disableA", "true");
                                } else {
                                    localStorage.setItem("disableA", "");
                                }
                                if (this.disableAAAA) {
                                    s += ` --disableAAAA`;
                                    localStorage.setItem("disableAAAA", "true");
                                } else {
                                    localStorage.setItem("disableAAAA", "");
                                }
                                var r = await fetch(`/start?args=${encodeURIComponent(s)}&p=${encodeURIComponent(localStorage.getItem('p'))}`);
                                if (r.status != 200) {
                                    throw await r.text();
                                }
                                this.status = await r.text();
                                this.ing = false;
                            } catch (e) {
                                alert(`${e}`);
                                this.ing = false;
                            }
                        },
                        async stop() {
                            try {
                                this.ing = true;
                                var r = await fetch(`/stop?p=${encodeURIComponent(localStorage.getItem('p'))}`);
                                if (r.status != 200) {
                                    throw await r.text();
                                }
                                this.status = await r.text();
                                this.ing = false;
                            } catch (e) {
                                alert(`${e}`);
                                this.ing = false;
                            }
                        },
                        async importservers() {
                            try{
                                this.ing = true;
                                var r = await fetch(`/httpread?url=${encodeURIComponent(this.importurl)}&p=${encodeURIComponent(localStorage.getItem('p'))}`);
                                if (r.status != 200) {
                                    throw await r.text();
                                }
                                var l = localStorage.getItem('links') ? JSON.parse(localStorage.getItem('links')) : [];
                                var l0 = (await r.text()).split('\n');
                                for(var i=0; i<l0.length; i++){
                                    if(!l0[i].trim()){
                                        continue;
                                    }
                                    l.unshift(l0[i].trim());
                                }
                                l = Array.from(new Set(l));
                                localStorage.setItem('links', JSON.stringify(l));
                                localStorage.setItem('importurl', this.importurl);
                                this.links = l;
                                this.ing = false;
                                alert('OK');
                            } catch (e) {
                                alert(`${e}`);
                                this.ing = false;
                            }
                        },
                        async logread() {
                            try{
                                this.page = "logview";
                                this.logview = "loading...";
                                var r = await fetch(`/logread?p=${encodeURIComponent(localStorage.getItem('p'))}`);
                                if (r.status != 200) {
                                    throw await r.text();
                                }
                                this.logview = (await r.text()).split('\n').reverse().filter(v=>v).map(v=>{
                                    var o = JSON.parse(v)
                                    o.time = new Date(o.time*1000).toLocaleString();
                                    return JSON.stringify(o);
                                }).join('\n');
                            } catch (e) {
                                if(`${e}`.indexOf('no such file') != -1){
                                    this.logview = "";
                                    return;
                                }
                                alert(`${e}`);
                            }
                        },
                        async add() {
                            try{
                                var u = new URL(this.addlink.replace('brook://', 'http://'));
                                if(u.host != 'server' && u.host != 'wsserver' && u.host != 'wssserver' && u.host != 'quicserver'){
                                    throw 'unsupport brook link';
                                }
                                var l = localStorage.getItem('links') ? JSON.parse(localStorage.getItem('links')) : [];
                                l.unshift(this.addlink);
                                l = Array.from(new Set(l));
                                localStorage.setItem('links', JSON.stringify(l));
                                this.addlink = '';
                                this.links = l;
                                alert('OK');
                            } catch (e) {
                                alert(`${e}`);
                                this.ing = false;
                            }
                        },
                        async remove(s) {
                            try{
                                var l = localStorage.getItem('links') ? JSON.parse(localStorage.getItem('links')) : [];
                                l = l.filter(v=>v!=s);
                                localStorage.setItem('links', JSON.stringify(l));
                                this.links = l;
                                alert('OK');
                            } catch (e) {
                                alert(`${e}`);
                                this.ing = false;
                            }
                        },
                        name(s) {
                            var u = new URL(s.replace('brook://', 'http://'));
                            return (u.searchParams.get('name') ? u.searchParams.get('name') : u.searchParams.get(u.host)) + ' - ' + u.host;
                        },
                    },
                };
                Vue.createApp(app).mount("body");
            });
        </script>
    </head>
    <body style="margin:0; padding: 0px 30px;">
        <nav>
        <ul>
            <li>
                <a href="https://github.com/txthinking/brook"><strong>Brook</strong></a>
            </li>
        </ul>
        <ul>
            <li><a href="https://txthinking.github.io/brook/">Document</a></li>
            <li><a href="https://www.youtube.com/txthinking">YouTube</a></li>
            <li><a href="https://www.txthinking.com/talks/">Talks</a></li>
            <li><a href="https://t.me/s/txthinking_news">News</a></li>
            <li><a href="https://t.me/brookgroup">Telegram</a></li>
            <li><a href="https://github.com/txthinking">GitHub</a></li>
            <li><a href="https://www.txthinking.com">TxThinking</a></li>
        </ul>
        </nav>
        <main v-if="!hasp">
            <label>{{ zh ? '给 Web UI 设置个密码先' : 'Set Password for Web UI'}}</label><br />
            <input v-model="p" />
            <button @click="setp" :disabled="ing" :aria-busy="ing ? 'true' : ''">{{ zh ? '保存' : 'Save' }}</button>
        </main>
        <main v-if="hasp && !localhasp">
            <label>{{ zh ? '认证 Web UI' : 'Auth Web UI' }}</label><br />
            <input v-model="p" />
            <button @click="authp" :disabled="ing" :aria-busy="ing ? 'true' : ''">{{ zh ? '认证' : 'Auth' }}</button>
        </main>
        <main style="display:flex;justify-content:space-between" v-if="hasp && localhasp">
            <aside>
                <nav>
                    <ul>
                        <li><a href="javascript:void(0)" @click="this.page = 'home'">{{ zh ? '首页' : 'Home' }}</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'addserver'">{{ zh ? '添加服务器' : 'Add Server' }}</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'importservers'">{{ zh ? '导入服务器' : 'Import Servers' }}</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'serverlist'">{{ zh ? '服务器列表' : 'Server List' }}</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'listen'">{{ zh ? '监听端口' : 'Listen' }}</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'dnsListen'">{{ zh ? 'DNS 监听端口' : 'DNS Listen' }}</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'dnsForDefault'">{{ zh ? '默认 DNS' : 'Default DNS' }}</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'dnsForBypass'">{{ zh ? 'Bypass DNS' : 'Bypass DNS' }}</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'bypassDomainList'">Bypass Domain</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'bypassCIDR4List'">Bypass CIDR4</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'bypassCIDR6List'">Bypass CIDR6</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'bypassGeoIP'">Bypass Geo IP</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'blockDomainList'">Block Domain</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'disableA'">Disable A</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'disableAAAA'">Disable AAAA</a></li>
                        <li><a href="javascript:void(0)" @click="this.page = 'log'">Log</a></li>
                        <li><a href="javascript:void(0)" @click="logread">Log View</a></li>
                    </ul>
                </nav>
            </aside>
            <div style="flex:1;padding:0 0 0 30px;">
                <div v-if="page=='home'">
                    <select v-model="link">
                        <option value="">{{ zh ? '选择' : 'Select' }}</option>
                        <option v-for="item in links" :value="item">{{name(item)}}</option>
                    </select>
                    <button v-if="status=='disconnected'":disabled="ing" :aria-busy="ing ? 'true' : ''" @click="start">{{zh ? '连接' : 'Connect' }}</button>
                    <button v-if="status=='connected'" :disabled="ing" :aria-busy="ing ? 'true' : ''" @click="stop">{{zh ? '断开' : 'Disconnect' }}</button>
                </div>
                <div v-if="page=='serverlist'">
                    <div v-for="item in links" style="display:flex;align-items:center;">
                        <div>{{name(item)}}</div>
                        <div style="width:30px;"></div>
                        <div>
                            <a href="javascript:void(0)" @click="remove(item)">{{zh ? '删除' : 'Remove'}}</a>
                        </div>
                    </div>
                </div>
                <div v-if="page=='addserver'">
                    <input v-model="addlink" placeholder="brook://..." />
                    <button @click="add">{{zh ? '添加' : 'Add' }}</button>
                </div>
                <div v-if="page=='importservers'">
                    <input v-model="importurl" placeholder="https://..." />
                    <button :disabled="ing" :aria-busy="ing ? 'true' : ''" @click="importservers">{{zh ? '导入' : 'Import' }}</button>
                </div>
                <div v-if="page=='listen'">
                    <input v-model="listen" :placeholder="zh ? '一般不需要修改' : 'Generally do not modify'"/>
                </div>
                <div v-if="page=='dnsListen'">
                    <input v-model="dnsListen" placeholder=":5353" />
                    <div>{{zh ? '你还需要操作:' : 'You still need to do:'}}</div>
                    <ul>
                        <li>OpenWrt Web -> Network -> DHCP and DNS -> General Settings -> DNS forwardings -> 127.0.0.1#5353</li>
                        <li>OpenWrt Web -> Network -> DHCP and DNS -> Resolv and Hosts Files -> Ignore resolve file</li>
                    </ul>
                    <div>{{zh ? '或者:' : 'Or:'}}</div>
                    <ul>
                        <li>{{ zh ? '停止内置的DNS服务，在这里直接监听:53. 如果你允许客户端使用其他公有 DNS Server, 这里需要指定监听地址，比如 192.168.1.1:53' : 'Stop built-in DNS server, and listen :53 here. If you allow clients to use other public DNS Servers, you need to specify the listening address here, such as 192.168.1.1:53'}}</li>
                    </ul>
                </div>
                <div v-if="page=='dnsForDefault'">
                    <input v-model="dnsForDefault"/>
                </div>
                <div v-if="page=='dnsForBypass'">
                    <input v-model="dnsForBypass"/>
                </div>
                <input v-if="page=='bypassDomainList'" v-model="bypassDomainList" placeholder="/path/to/local/file/example_domain.txt or https://..." />
                <input v-if="page=='bypassCIDR4List'" v-model="bypassCIDR4List" placeholder="/path/to/local/file/example_cidr4.txt or https://..." />
                <input v-if="page=='bypassCIDR6List'" v-model="bypassCIDR6List" placeholder="/path/to/local/file/example_cidr6.txt or https://..." />
                <div v-if="page=='bypassGeoIP'">
                    <input v-model="bypassGeoIP" placeholder="ZZ,CN"/>
                </div>
                <input v-if="page=='blockDomainList'" v-model="blockDomainList" placeholder="/path/to/local/file/example_domain.txt or https://..." />
                <input v-if="page=='disableA'" type="checkbox" v-model="disableA" />
                <input v-if="page=='disableAAAA'" type="checkbox" v-model="disableAAAA" />
                <input v-if="page=='log'" type="checkbox" v-model="log" />
                <textarea style="height:666px;" v-if="page=='logview'">{{logview}}</textarea>
            </div>
        </main>
        <footer style="display:flex;justify-content:space-around;">
            <a href="https://www.txthinking.com">Brook v20230606. A project by txthinking.com</a>
        </footer>
    </body>
</html>
