<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<dom-module id="x-setting">
    <template>
        <style>
            paper-button {
                background-color: #000000;
                color: #ffffff;
            }
        </style>
        <paper-dropdown-menu label="Type">
            <paper-menu class="dropdown-content" attr-for-selected="name" selected="{{o.Type}}">
                <paper-item name="Brook">Brook</paper-item>
                <paper-item name="Brook Stream">Brook Stream</paper-item>
                <paper-item name="Shadowsocks">Shadowsocks</paper-item>
            </paper-menu>
        </paper-dropdown-menu>
        <paper-input label="Server" is="iron-input" value="{{o.Server}}" placeholder="1.2.3.4:8080"></paper-input>
        <paper-input label="Password" is="iron-input" value="{{o.Password}}" placeholder="your server password"></paper-input>
        <paper-input label="UDP Session Time(s)" type="number" is="iron-input" value="{{o.UDPSessionTime}}" placeholder="60"></paper-input>
        <template is="dom-if" if="{{isSS(o.Type)}}">
        <paper-input label="Method" disabled is="iron-input" value="aes-256-cfb"></paper-input>
        </template>
        <div style="text-align:center">
            <paper-button raised on-click="go">Save</paper-button>
        </div>
        <paper-toast id="toast"><paper-toast>
    </template>
    <script>
        Polymer({
            is: "x-setting",
            properties: {
            },
            ready: function(){
                this.o = {
                    "Type": "Brook",
                    "Address": "local.txthinking.com:1080",
                    "Server": "",
                    "Password": "",
                    "TCPTimeout": 60,
                    "TCPDeadline": 0,
                    "UDPDeadline": 60,
                    "UDPSessionTime": 60,
                };
                this.init();
            },
            init: function(){
                this.initSetting();
            },
            isSS: function(tp){
                return tp === "Shadowsocks";
            },
            initSetting: function(){
                var self = this;
                R.get('/setting')
                .set('Accept', 'application/json')
                .set('Content-Type', 'application/json')
                .withCredentials()
                .end(function(err, res){
                    switch(res.status) {
                    case 200:
                        self.o = res.body;
                        break;
                    default:
                        self.$.toast.text = res.text;
                        self.$.toast.open();
                        break;
                    }
                });
            },
            go: function(){
                this.o.Type = this.o.Type.trim();
                this.o.Address = this.o.Address.trim();
                this.o.Server = this.o.Server.trim();
                if(!/.+?\:\d+/.test(this.o.Server)){
                    this.$.toast.text = "Server Invalid";
                    this.$.toast.open();
                    return;
                }
                this.o.Password = this.o.Password.trim();
                if(!this.o.Password){
                    this.$.toast.text = "Misss Password";
                    this.$.toast.open();
                    return;
                }
                this.o.TCPTimeout = isNaN(parseInt(this.o.TCPTimeout)) ? 0 : parseInt(this.o.TCPTimeout);
                this.o.TCPDeadline = isNaN(parseInt(this.o.TCPDeadline)) ? 0 : parseInt(this.o.TCPDeadline);
                this.o.UDPDeadline = isNaN(parseInt(this.o.UDPDeadline)) ? 0 : parseInt(this.o.UDPDeadline);
                this.o.UDPSessionTime = parseInt(this.o.UDPSessionTime);
                if (isNaN(this.o.UDPSessionTime) || this.o.UDPSessionTime === 0){
                    this.o.UDPSessionTime = 60;
                }
                var self = this;
                R.post('/setting')
                .set('Accept', 'application/json')
                .set('Content-Type', 'application/json')
                .withCredentials()
                .send(this.o)
                .end(function(err, res){
                    switch(res.status) {
                    case 200:
                        self.$.toast.text = "OK";
                        self.$.toast.open();
                        break;
                    default:
                        self.$.toast.text = res.text;
                        self.$.toast.open();
                        break;
                    }
                });
            }
        });
    </script>
</dom-module>

