<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<dom-module id="x-setting">
    <template>
        <paper-dropdown-menu label="Type">
            <paper-menu class="dropdown-content" attr-for-selected="name" selected="{{o.Type}}">
                <paper-item name="bk">Brook</paper-item>
                <paper-item name="ss">Shadowsocks</paper-item>
                <paper-item name="s5">Socks5 Encrypt</paper-item>
            </paper-menu>
        </paper-dropdown-menu>
        <paper-input label="Server" is="iron-input" value="{{o.Server}}" placeholder="ep: 1.2.3.4:8080"></paper-input>
        <paper-input label="Password" is="iron-input" value="{{o.Password}}" placeholder="your server password"></paper-input>
        <template is="dom-if" if="{{isBrook(o.Type)}}">
        <paper-input label="Music" is="iron-input" value="{{o.Music}}" placeholder="must same as your server"></paper-input><a href="https://github.com/txthinking/brook/wiki/Music-List" target="_blank">more about music</a>
        </template>
        <template is="dom-if" if="{{isSS(o.Type)}}">
        <paper-input label="Method" disabled is="iron-input" value="aes-256-cfb"></paper-input>
        </template>
        <div style="text-align:center">
            <paper-button raised on-click="go">Save</paper-button>
        </div>
        <paper-toast id="toast"><paper-toast>
    </template>
    <script>
        Polymer({
            is: "x-setting",
            properties: {
            },
            ready: function(){
                this.o = {"Type": "bk", "Local": "127.0.0.1:1080"};
                this.init();
            },
            init: function(){
                this.initSetting();
            },
            isBrook: function(tp){
                return tp === "bk";
            },
            isSS: function(tp){
                return tp === "ss";
            },
            initSetting: function(){
                var self = this;
                R.get('/setting')
                .set('Accept', 'application/json')
                .set('Content-Type', 'application/json')
                .withCredentials()
                .end(function(err, res){
                    switch(res.status) {
                    case 200:
                        self.o = res.body;
                        self.o.Local = "127.0.0.1:1080";
                        if(self.o.Type === ""){
                            self.o.Type = "bk";
                        }
                        break;
                    default:
                        self.$.toast.text = res.text;
                        self.$.toast.open();
                        break;
                    }
                });
            },
            go: function(){
                var self = this;
                R.post('/setting')
                .set('Accept', 'application/json')
                .set('Content-Type', 'application/json')
                .withCredentials()
                .send(this.o)
                .end(function(err, res){
                    switch(res.status) {
                    case 200:
                        self.$.toast.text = "OK";
                        self.$.toast.open();
                        break;
                    default:
                        self.$.toast.text = res.text;
                        self.$.toast.open();
                        break;
                    }
                });
            }
        });
    </script>
</dom-module>

